 @import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Nata+Sans:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 body {
     background-color: rgb(255, 251, 246);
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: weight;
     font-style: normal;
     font-variation-settings:
         "wdth" 100;
 }
      /* main div */
 .contact-container {
     background-color: rgb(243, 248, 248);
     display: flex;
     max-width: 1000px;
     margin: 50px auto;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
     overflow: hidden;
 }
     /* child div 1 */
 .contact {
     background-image: url(img/bg.webp);
     background-size: cover;
     background-attachment: fixed;
     width: 40%;
     padding: 50px;
 }

 .contact i {
     color: red;
 }

 .contact p {
     font-size: 14px;
 }

 .contact p,h3 {
     color: white;
 }
  /* child div 2 */
 .contact-form {
     padding-bottom: 30px;
     margin-left: 70px;

 }

 .contact-form h1 {
     text-align: center;
     font-size: 40px;
 }

 .contact-form input {
     padding: 4px;
     width: 250px;
     height: 30px;
 }

 input:focus {
     outline: none;
     background-color: #513850;
     color: rgb(255, 255, 255);
 }

 textarea,input {
     color: gray;
     border: none;
     border-bottom: 1px solid #000;
 }

 textarea:focus {
     outline: none;
     background-color: #513850;

 }

 .contact-form textarea {
     height: 100px;
     width: 250px;
 }

 textarea, input::placeholder {
     font-size: 14px;
 }

 button {
     padding: 4px;
     width: 250px;
     height: 40px;
     border: none;
     border-radius: 20px;
     color: white;
     background-color: red;

 }

 button:hover {
     background-color: maroon;
 }